# 保健品行业分析

In [1]:
import numpy as np
import pandas as pd

In [5]:
# 加载数据
data = pd.read_csv('保健品.csv')
# data.info()
data.describe()

,q5_01,q5_02,q5_03,q5_04,q5_05,q5_06,q5_07,q5_08,q5_09,q5_10,...,q5_15,q5_16,q5_17,q5_18,q5_19,q5_20,q8,w1,w2,w6
count,625.000000,625.000000,625.0000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,...,625.00000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000
mean,3.804800,3.932800,4.1552,3.305600,2.760000,3.276800,3.683200,3.643200,3.750400,3.900800,...,4.03200,3.868800,2.694400,3.036800,3.032000,3.275200,6.182400,1.724800,3.235200,8.481600
std,1.288625,1.173408,1.0454,1.485308,1.561763,1.545835,1.353576,1.382951,1.371097,1.149031,...,1.18711,1.261639,1.559005,1.386839,1.358355,1.417985,2.947513,0.446973,1.219779,10.334939
min,1.000000,1.000000,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,3.000000,4.0000,2.000000,1.000000,2.000000,3.000000,3.000000,3.000000,3.000000,...,3.00000,3.000000,1.000000,2.000000,2.000000,2.000000,3.000000,1.000000,2.000000,6.000000
50%,4.000000,4.000000,4.0000,4.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.00000,4.000000,2.000000,3.000000,3.000000,3.000000,7.000000,2.000000,3.000000,8.000000
75%,5.000000,5.000000,5.0000,5.000000,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.00000,5.000000,4.000000,4.000000,4.000000,5.000000,9.000000,2.000000,4.000000,10.000000
max,5.000000,5.000000,5.0000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,9.000000,2.000000,7.000000,99.000000

In [6]:
data['q8'].value_counts()

9    282
3     83
7     55
5     55
1     55
4     40
2     32
6     23
Name: q8, dtype: int64

In [7]:
data['w1'].value_counts()

2    453
1    172
Name: w1, dtype: int64

In [18]:
# 切出前20列  做子集， 然后进行题目相关分析
sub_data = data.loc[:, :'q5_20']
corr = sub_data.corr()
corr[corr<0.4] = 0
corr[corr>=0.4] = 999
corr

,q5_01,q5_02,q5_03,q5_04,q5_05,q5_06,q5_07,q5_08,q5_09,q5_10,q5_11,q5_12,q5_13,q5_14,q5_15,q5_16,q5_17,q5_18,q5_19,q5_20
q5_01,999.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_02,999.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_03,0.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_04,0.0,0.0,0.0,999.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_05,0.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_06,0.0,0.0,0.0,999.0,0.0,999.0,999.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_07,0.0,0.0,0.0,0.0,0.0,999.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_09,0.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0
q5_16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0
q5_17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0
q5_18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,999.0,0.0
q5_19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,999.0,0.0
q5_20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0