# 保健品行业分析

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 加载数据
data = pd.read_csv('保健品.csv')
# data.info()
data.describe()

,q5_01,q5_02,q5_03,q5_04,q5_05,q5_06,q5_07,q5_08,q5_09,q5_10,...,q5_15,q5_16,q5_17,q5_18,q5_19,q5_20,q8,w1,w2,w6
count,625.000000,625.000000,625.0000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,...,625.00000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000,625.000000
mean,3.804800,3.932800,4.1552,3.305600,2.760000,3.276800,3.683200,3.643200,3.750400,3.900800,...,4.03200,3.868800,2.694400,3.036800,3.032000,3.275200,6.182400,1.724800,3.235200,8.481600
std,1.288625,1.173408,1.0454,1.485308,1.561763,1.545835,1.353576,1.382951,1.371097,1.149031,...,1.18711,1.261639,1.559005,1.386839,1.358355,1.417985,2.947513,0.446973,1.219779,10.334939
min,1.000000,1.000000,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,3.000000,4.0000,2.000000,1.000000,2.000000,3.000000,3.000000,3.000000,3.000000,...,3.00000,3.000000,1.000000,2.000000,2.000000,2.000000,3.000000,1.000000,2.000000,6.000000
50%,4.000000,4.000000,4.0000,4.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.00000,4.000000,2.000000,3.000000,3.000000,3.000000,7.000000,2.000000,3.000000,8.000000
75%,5.000000,5.000000,5.0000,5.000000,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.00000,5.000000,4.000000,4.000000,4.000000,5.000000,9.000000,2.000000,4.000000,10.000000
max,5.000000,5.000000,5.0000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,9.000000,2.000000,7.000000,99.000000

In [3]:
data['q8'].value_counts()

9    282
3     83
7     55
5     55
1     55
4     40
2     32
6     23
Name: q8, dtype: int64

In [4]:
data['w1'].value_counts()

2    453
1    172
Name: w1, dtype: int64

```
q5_01	令面色红润	无
q5_02	使皮肤有光泽	无
q5_03	精神状态好	无
q5_04	去斑	无
q5_05	去痘	无
q5_06	去皱	无
q5_07	解决皮肤干燥	无
q5_08	调节内分泌	无
q5_09	延缓皮肤衰老	无
q5_10	去除疲劳	无
q5_11	提高睡眠质量	无
q5_12	消除黑眼圈	无
q5_13	通便润肠	无
q5_14	抗衰老	无
q5_15	提高免疫力	无
q5_16	应该对自己好点	无
q5_17	希望自己像模特一样	无
q5_18	同龄人都在服用	无
q5_19	年轻人对我说该服用	无
q5_20	女为悦己者容	无
q8	主要服用的产品	{1:'太太**',2:'乌鸡**',3:'排毒**',4:'阿*',5:'红桃*',6:'脑白*',7:'朵**',9:'其他'}
w1	婚姻	{1:'未婚', 2:'已婚'}
w2	教育	无
w6	个人收入	无
```

In [10]:
# 切出前20列  做子集， 然后进行题目相关分析
sub_data = data.loc[:, :'q5_20']
corr = sub_data.corr()
corr[corr<0.3] = 0
corr[corr>=0.3] = 999
corr

,q5_01,q5_02,q5_03,q5_04,q5_05,q5_06,q5_07,q5_08,q5_09,q5_10,q5_11,q5_12,q5_13,q5_14,q5_15,q5_16,q5_17,q5_18,q5_19,q5_20
q5_01,999.0,999.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_02,999.0,999.0,999.0,0.0,0.0,0.0,999.0,0.0,999.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_03,0.0,999.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0
q5_04,0.0,0.0,0.0,999.0,999.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_05,0.0,0.0,0.0,999.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_06,0.0,0.0,0.0,999.0,0.0,999.0,999.0,0.0,999.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_07,999.0,999.0,0.0,0.0,0.0,999.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,999.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_09,0.0,999.0,0.0,0.0,0.0,999.0,0.0,999.0,999.0,999.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,999.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,999.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_12,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
q5_14,0.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0,999.0,999.0,0.0,0.0,0.0,0.0,0.0
q5_15,0.0,0.0,999.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,999.0,0.0,0.0,0.0,0.0,0.0
q5_16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,0.0,0.0,0.0,0.0
q5_17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,999.0,999.0,999.0
q5_18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,999.0,999.0,999.0
q5_19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,999.0,999.0,999.0
q5_20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,999.0,999.0,999.0,999.0

结论：
通过特征相关性分析可得：可以把当前20道题总结出四个分析维度作为分析用户消费保健品的重要因素：
1. 精神状态
2. 抗衰老
3. 有益身体健康
4. 外界看法

## 分析问卷调查的均值，了解当前各产品对产品功效的侧重点

In [22]:
desc = sub_data.describe()
mean_score = desc.loc['mean'] 
mean_score.sort_values(ascending=False)
# 把题目（产品功效）追加到mean_score后
fields = pd.read_csv('保健品字段介绍.csv', encoding='gbk',
            header=None, names=['fid', 'effect', '_'],
            index_col='fid')
# 把effect与mean_score合并为一个DataFrame
fields = pd.DataFrame({ 'mean_score':mean_score, 
                        'effect':fields['effect']})
# 对dataFrame进行排序  按照mean_score降序排列
fields = fields.sort_values(by='mean_score', ascending=False)
fields

       mean_score     effect
q5_03      4.1552      精神状态好
q5_15      4.0320      提高免疫力
q5_02      3.9328     使皮肤有光泽
q5_10      3.9008       去除疲劳
q5_16      3.8688    应该对自己好点
q5_11      3.8448     提高睡眠质量
q5_01      3.8048      令面色红润
q5_09      3.7504     延缓皮肤衰老
q5_07      3.6832     解决皮肤干燥
q5_14      3.6656        抗衰老
q5_08      3.6432      调节内分泌
q5_13      3.4384       通便润肠
q5_04      3.3056         去斑
q5_06      3.2768         去皱
q5_20      3.2752     女为悦己者容
q5_12      3.1392      消除黑眼圈
q5_18      3.0368    同龄人都在服用
q5_19      3.0320  年轻人对我说该服用
q5_05      2.7600         去痘
q5_17      2.6944  希望自己像模特一样
q8            NaN    主要服用的产品
w1            NaN         婚姻
w2            NaN         教育
w6            NaN       个人收入

结论：
通过上表可知，多数产品在产品功效上更多关注改善用户的精神状态，其次为抗衰老，再次为改善身体健康，最后为外界影响。

## 从产品的角度进行分析

### 统计每一种保健品产品的频数，评估市场占有率

In [27]:

# 整理产品名称
products = {1:'太太**',2:'乌鸡**',3:'排毒**',4:'阿*',5:'红桃*',6:'脑白*',7:'朵**',9:'其他'}
products = pd.Series(products)
result = pd.DataFrame({'products' : products, 
                       'counts'   : data['q8'].value_counts()})
result = result.sort_values(by='counts', ascending=False)
result

  products  counts
9       其他     282
3     排毒**      83
1     太太**      55
5      红桃*      55
7      朵**      55
4       阿*      40
2     乌鸡**      32
6      脑白*      23

结论：
由上表可知，市场占有率最高的为“排毒”，第二梯队为“太太”、“红桃”、“朵”，针对当前这种情况，如果想要切入保健品市场，可以尽快抢占“乌鸡”、‘阿’、等产品的占有率，进而慢慢蚕食第二梯队的市场。所以后续分析可以关注一下这些品牌的用户群体。

### 研究每个产品功效的侧重点

In [30]:
# 把每个产品当做一个小组，看一下每一组产品对20道题评分的最大值
result1 = pd.DataFrame([])
for k, v in products.items():
    mask = data['q8'] == k  # 当前组的掩码
    mean = sub_data[mask].mean()
    result1[k] = mean
result1

,1,2,3,4,5,6,7,9
q5_01,4.181818,3.87500,3.855422,3.625,3.745455,3.565217,3.636364,3.797872
q5_02,4.218182,4.03125,3.915663,3.550,3.890909,3.652174,4.127273,3.918440
q5_03,4.018182,4.03125,4.216867,3.900,4.272727,3.913043,4.200000,4.202128
q5_04,3.509091,3.37500,3.457831,2.650,3.109091,3.478261,3.290909,3.333333
q5_05,2.563636,2.84375,3.108434,1.925,2.945455,2.869565,3.163636,2.680851
q5_06,3.727273,3.21875,3.253012,3.200,2.854545,3.478261,3.527273,3.230496
q5_07,3.872727,3.78125,3.843373,3.325,3.400000,3.782609,3.872727,3.648936
q5_08,3.818182,4.03125,3.867470,3.200,3.272727,3.521739,3.690909,3.634752
q5_09,3.963636,3.53125,3.795181,3.550,3.472727,3.478261,3.745455,3.826241
q5_10,3.636364,3.81250,3.771084,3.775,4.000000,3.173913,4.090909,4.021277
q5_11,3.890909,3.87500,3.530120,3.450,3.890909,4.130435,3.836364,3.950355
q5_12,3.218182,2.90625,3.192771,2.325,3.254545,3.608696,3.309091,3.156028
q5_13,3.327273,3.59375,3.759036,3.000,2.818182,3.217391,3.672727,3.503546
q5_14,3.781818,3.62500,3.614458,3.525,3.181818,3.347826,3.563636,3.822695
q5_15,3.836364,4.15625,4.024096,3.900,4.000000,3.782609,3.872727,4.134752
q5_16,3.800000,4.46875,3.626506,3.525,4.109091,3.391304,4.072727,3.886525
q5_17,2.927273,2.71875,2.746988,2.225,3.090909,2.217391,3.036364,2.592199
q5_18,3.145455,3.46875,3.108434,2.575,3.200000,2.826087,3.272727,2.950355
q5_19,3.290909,3.37500,2.963855,2.725,3.218182,2.869565,3.072727,2.975177
q5_20,3.509091,3.78125,3.626506,2.375,3.109091,2.826087,3.254545,3.269504

In [40]:
result2 = result1.idxmax()
# 整理一个完整的 DataFrame
result2 = pd.DataFrame({'products' : products, 
                        'qid' : result2})

# series.apply(func)会遍历 series中的每个元素，交给func进行处理
# func函数会为每一个元素给出返回值， 作为apply方法的返回值返回
def func(item):
    return fields.effect.loc[item]

result2['effect'] = result2['qid'].apply(func)
result2

  products    qid   effect
1     太太**  q5_02   使皮肤有光泽
2     乌鸡**  q5_16  应该对自己好点
3     排毒**  q5_03    精神状态好
4       阿*  q5_03    精神状态好
5      红桃*  q5_03    精神状态好
6      脑白*  q5_11   提高睡眠质量
7      朵**  q5_03    精神状态好
9       其他  q5_03    精神状态好

结论：
根据每个产品的功效可得：若希望切入保健品市场，在功效方面侧重于用户的精神状态的改善，而针对‘乌鸡’、‘阿’等产品可以从广告投放，舆论扩散，产品口号等等角度抢占他们的市场。

## 从用户群体角度分析

### 研究每个产品的用户群体，已婚、未婚频数统计

In [44]:
result3 = pd.DataFrame([])
for k, v in products.items():
    mask = data['q8'] == k
    r = data[mask]['w1'].value_counts()
    result3[k] = r
result3 = result3.T
result3.columns = ['married', 'not-married']
result3['products'] = products
result3

   married  not-married products
1       50            5     太太**
2       21           11     乌鸡**
3       47           36     排毒**
4       39            1       阿*
5       24           31      红桃*
6       13           10      脑白*
7       42           13      朵**
9      217           65       其他

结论：
由上表可知，“太太”、‘乌鸡’、‘阿’更多服务已婚女士，而未婚女士更多会选择“排毒”、‘红桃’。由此可知，已婚女士会更多的注重保健品的护肤、抗衰老等功效，未婚女士更多关注服务之后的精神状态。针对“乌鸡”、‘阿’等角度分析，可以更多的关注已婚女士对保健品的需求，设计相应的产品形象。

# 结论：
1. 总结出四个分析维度作为分析用户消费保健品的重要因素：
    1. 精神状态
    2. 抗衰老
    3. 有益身体健康
    4. 外界看法

2. 多数产品在产品功效上更多关注改善用户的精神状态，其次为抗衰老，再次为改善身体健康，最后为外界影响。

3. 市场占有率最高的为“排毒”，第二梯队为“太太”、“红桃”、“朵”，针对当前这种情况，如果想要切入保健品市场，可以尽快抢占“乌鸡”、‘阿’、等产品的占有率，进而慢慢蚕食第二梯队的市场。所以后续分析可以关注一下这些品牌的用户群体。

4. 若希望切入保健品市场，在功效方面侧重于用户的精神状态的改善，而针对‘乌鸡’、‘阿’等产品可以从广告投放，舆论扩散，产品口号等等角度抢占他们的市场。

5. 已婚女士会更多的注重保健品的护肤、抗衰老等功效，未婚女士更多关注服务之后的精神状态。针对“乌鸡”、‘阿’等角度分析，可以更多的关注已婚女士对保健品的需求，设计相应的产品形象。